{% extends 'base.html' %}

{% load bootstrap_toolkit %}
{% load guardian_tags %}

{% block content %}
    <div class='row-fluid'>
        <div class='span5'>
            <h2>Create file system mount point</h2>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <form action='{% url 'appsetup:filesystems' %}' class='form' method='post'>
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <div class="form-actions">
                    <input type="submit" class="btn btn-info" value="Create"/>
                    <a class='btn' href='{% url 'appsetup:index' %}'>Cancel</a>
                </div>
            </form>
        </div>
        <div class='span3'>
            <h4>currently existing mount points</h4>
            {% if filesystems %}
                <table class='table table-striped table-hover' data-provides="rowlink">
                    <thead>
                    <tr>
                        <th>alias</th>
                        <th>mount point</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fs in filesystems %}
                        <td>
                            <small>
                                {{ fs }}
                            </small>
                        </td>
                        <td>
                            <small>
                                {{ fs.mount_point }}
                            </small>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class='offset1 span3'>
            <h4>potential mount points</h4>
            {% if mount_point_candidates %}
                <table class='table table-striped table-hover' data-provides="rowlink">
                    <thead>
                    <tr>
                        <th>mount point</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mp in mount_point_candidates %}
                        <tr>
                            <td>
                                <small>
                                    {{ mp }}
                                </small>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
