{% load staticfiles %}
{% block extra_head %}
    <script src='{% static 'js/tree.js' %}'></script>
    <link rel='stylesheet' href='{% static 'css/tree.css' %}'>
{% endblock extra_head %}

<div class="accordion" id="accordion-{{ uid }}">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
               href="#collapseProject{{ project.id }}">
                {{ name }}
            </a>
        </div>
        <div id="collapseProject{{ project.id }}" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class='tree well'>
                    <a title='expand all branches' class='expand_all'><i class='icon-plus'></i></a>
                    <a title='collapse all branches' class='collapse_all'><i class='icon-minus'></i></a>
                    <a title='deploy package' href='{% url 'projects:deploy' project.id '.' %}'><i class='icon-download-alt'></i>deploy</a>
                    <a title='make directory' href='{% url 'projects:mkdir' project.id '.' %}'><i class='icon-plus-sign'></i>mkdir</a>
                    {% include 'tree/_tree.html' with subfiles=files %}
                </div>
            </div>
        </div>
    </div>
</div>