<table class='table table-striped table-hover' data-provides="rowlink">
    <thead>
    <tr>
        <th>name</th>
        <th>uploaded at</th>
    </tr>
    </thead>
    <tbody>
    {% for package in packages %}
        {% if package.status_name == 'deployed' %}
            <tr class='success'>
                {% elif package.status_name == 'deleted' %}
            <tr class='warning'>
                {% elif package.status_name == 'error' %}
            <tr class='error'>
                {% else %}
            <tr>
        {% endif %}
    <td>
        <small>
            <a href='{% url 'packages:show' package.id %}'>
                {{ package.filename }}
            </a>
        </small>
    </td>
    <td>
        <small>
            <span id='package_expiration_date_{{ package.id }}'>
                {{ package.uploaded_at }}
            </span>
        </small>
    </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
