{% extends 'base.html' %}

{% load bootstrap_toolkit %}

{% block content %}

    <div class='mkdir'>
        <h1>Make new directory</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action='{% url 'projects:mkdir' project_id path %}' class='form' method='post'>
            {% csrf_token %}
            <a href='{% url 'projects:show' project_id path %}'>
                <span class='path monospaced'>
                    {{ path }}
                </span>
            </a>
            {{ form | as_bootstrap }}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary" value="Create"/>
                <a class='btn' href='{% url 'projects:show' project_id path %}'>Cancel</a>
            </div>
        </form>
    </div>


{% endblock %}
