{% extends 'base.html' %}

{% load bootstrap_toolkit %}
{% load guardian_tags %}

{% block content %}
    <div class='row'>
        <div class='span9'>
            {% if package_sets %}
                {% for project, can_upload, packages in package_sets %}
                    <div class='row-fluid'>
                        <div class='span3'>
                            <a href="{% url 'projects:show' project.id %}">{{ project }}</a>
                            {% if can_upload %}
                                <a href='{% url 'projects:upload' project.id %}'>Upload</a>
                            {% endif %}
                        </div>
                        <div class='span6'>
                            {% include 'projects/_list.html' with project=projec packages=packages %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class='span3'>

        </div>
        <pre>
            {{ certs }}
        </pre>
        {% if latest_packages %}
            <div class='offset2 span4'>
                <ul>
                    {% for package in latest_packages %}
                        <li><a href="{% url 'packages:show' package.id %}">{{ package.file }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No packages deployed recently.</p>
            </div>
        {% endif %}

    </div>
{% endblock %}
