[database]
ENGINE: django.db.backends.sqlite3
NAME: ":memory:"

[url]
MEDIA_URL: /media/
STATIC_URL: /static/

[security]
SECRET_KEY: random-string-of-ascii
CSRF_MIDDLEWARE_SECRET: random-string-of-ascii
ALLOWED_HOSTS: 127.0.0.1

[debug]
DEBUG: true
TEMPLATE_DEBUG: true
VIEW_TEST: true
INTERNAL_IPS: 127.0.0.1
SKIP_CSRF_MIDDLEWARE: true

[apps]
ADD1: django_nose

[misc]
TIME_ZONE: UTC
SOUTH_TESTS_MIGRATE: false
#TEST_RUNNER: django_nose.NoseTestSuiteRunner
