<li>
    <span class='folder'>
        <span class='name'>
            <i class='icon-folder-close'></i>
            {{ file }}
        </span>
        <span class='actions'>
            {% if can_upload %}
                <a href='{% url 'projects:upload' project_id %}'><i class='icon-download-alt'></i></a>
            {% endif %}
            <a href='{% url 'projects:rmdir' project_id path %}'><i class='icon-trash'></i></a>
            <a href='{% url 'projects:mkdir' project_id %}'><i class='icon-plus-sign'></i></a>
        </span>
    </span>
    <ul>
        {% for f in subfiles %}
            {{ f }}
        {% endfor %}
    </ul>
</li>