{% if pre %}
    <li>
        <span class='file'>
            <span class='name'>
                <i style="float: left;" class='icon-file'></i>
                {{ no_of_files }} file{{ no_of_files|pluralize }}
            <pre>{{ files }}</pre>
            </span>
        </span>
    </li>
{% else %}
    {% for file in files %}
        <li>
            <span class='file'>
                <span class='name'>
                    <i class='icon-file'></i>
                    {{ file }}
                </span>
                <span class='actions'>
                    <a title="remove file" href='{% url 'projects:rm' project_id file %}'><i
                            class='icon-trash'></i></a>
                </span>
            </span>
        </li>
    {% endfor %}
{% endif %}

